<footer class="site-footer footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <h6>About</h6>
        <p class="text-justify">Library Managment System
          Made By Mohammad Hajjaj </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/books">Browse</a></li>
          <li><a href="/subscribe">Subscribe</a></li>

        </ul>
      </div>
    </div>
</footer>